{% load static %}

            <section class="pt-page" data-id="resume">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Currículo</h2>
                </div>
                <div class="page-content">

                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Formação Acadêmica</h3>
                        </div>

                        <div class="timeline">
                        {% for f in formacao %}
                          <!-- Formação 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">{{ f.curso }}</h4>
                            <span class="item-period">{{ f.ano_conclusao }}</span>
                            <span class="item-small">{{ f.instituicao }}</span>
                          </div>
                          <!-- / Formação 1 -->
                        {% endfor %}

                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Cursos Complementares</h3>
                        </div>

                        <div class="timeline">
                          {% for c in cursos %}
                          <!-- Experience 1 -->
                          <div class="timeline-item">
                            <h4 class="item-title">{{ c.curso }}</h4>
                          </div>
                          <!-- / Experience 1 -->
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Conhecimento e Noções</h3>
                        </div>

                        <div class="timeline">
                          {% for n in conhecimento %}
                        <!-- Conhecimento e noções 1 -->
                           <div class="timeline-item">
                              <h4 class="item-title">{{ n.nocoes }}</h4>
                            </div>
                        <!-- / Conhecimento e noções 1 -->
                          {% endfor %}
                        </div>

                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="block">
                        <div class="block-title">
                          <h3>Experiência Profissional</span></h3>
                        </div>

                        <div class="timeline">
                        {% for e in experiencias %}
                        <!-- Experiencia profissional 1 -->
                           <div class="timeline-item">
                              <h4 class="item-title">{{ e.cargo }}</h4>
                              <span class="item-period">{{ e.periodo }}</span>
                              <span class="item-small">{{ e.empresa }}</span>
                              <p class="item-description">{{ e.descricao }}</p>
                            </div>
                        <!-- / Experienca profissional 1 -->
                        {% endfor %}
                        </div>


                      </div>
                    </div>
                  </div>

                  <!-- Download Resume Button -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <div class="block">
                        <div class="center download-resume">
                          <a href="{% static 'cv/romuloptmota.pdf' %}" class="btn btn-secondary" target="_blank">Download Currículo</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Download Resume Button -->

                </div>
              </div>
            </section>
