{% load static %}

            <section class="pt-page" data-id="services">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Principais Habilidades</h2>
                </div>
                <div class="page-content">
                  <!-- My Services -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="block-title">
                        <h3>Sou <span>bom em...</span></h3>
                      </div>
                    </div>

                    {% for h in habilidades %}
                    <div class="col-sm-6 col-md-3">
                      <div class="service-block">
                        <div class="service-info">

                          <!--<i class="service-icon fa fa-shopping-cart"></i>-->

                          <h4>{{ h.area }}</h4>
                          <p>{{ h.descricao }}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                  <!-- End of My Services -->

                </div>
              </div>
            </section>
