{% extends 'base.html' %}
{% load static %}

{% block content %}

  <!-- Navigation -->
  {% include 'barra_navegacao.html' %}
  <!-- Navigation -->

  <!-- Home Subpage -->
  {% include 'inicio.html' %}
  <!-- End of Home Subpage -->

  <!-- Resume Subpage -->
  {% include 'curriculo.html' %}
  <!-- End of Resume Subpage -->

  <!-- Services Subpage -->
  {% include 'habilidades.html' %}
  <!-- End of Services Subpage -->

  <!-- Portfolio Subpage -->
  {% include 'portifolio.html' %}

{% endblock %}