{% load static %}

            <section class="pt-page" data-id="home">
              <div class="section-inner start-page-content">
                <div class="page-header">
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="photo">
                        <img src="{% static 'images/felicity.jpeg' %}" alt="Felicity Jones">
                      </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <div class="title-block">
                        <h1>Felicity Jones</h1>
                        <div class="owl-carousel text-rotation">
                          <div class="item">
                            <div class="sp-subtitle">Web Designer</div>
                          </div>
                          <div class="item">
                            <div class="sp-subtitle">Frontend-developer</div>
                          </div>
                        </div>
                      </div>

                      <div class="social-links">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="page-content">
                  <div class="row">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="about-me">
                        <div class="block-title">
                          <h3>Quem <span>Sou?</span></h3>
                        </div>
                        <p>Olá! Eu sou a Felicity Jones. Gosto de gatos, video games e programação. Aqui você irá encontrar algumas outras
                        informações sobre mim.</p>
                      </div>
                      <div class="download-resume">
                        <a href="{% static 'cv/resume.pdf' %}" class="btn btn-secondary" target="_blank">Download Currículo</a>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <ul class="info-list">
                        <li><span class="title">Idade</span><span class="value">29</span></li>
                        <li><span class="title">Nacionalidade</span><span class="value">Brasil</span></li>
                        <li><span class="title">Cidade/Estado</span><span class="value">São Paulo, SP</span></li>
                        <li><span class="title">E-mail</span><span class="value">felicity@geekuniversity.com.br</span></li>
                        <li><span class="title">Fone</span><span class="value">+5511 123 456 789</span></li>
                        <li><span class="title">Freelance</span><span class="value available">Disponível</span></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </section>
