{% load static %}

            <section class="pt-page" data-id="portfolio">
              <div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Portfólio</h2>
                </div>
                <div class="page-content">

                  <!-- Portfolio Content -->
                  <div class="portfolio-content">

                    <!-- Portfolio filter -->
                    <ul id="portfolio_filters" class="portfolio-filters">
                      <li class="active">
                        <a class="filter btn btn-sm btn-link active" data-group="all">Tudo</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="backend">Desenvolvimento Back-End</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="dados">Analise de Dados</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="aut_processos">Automação de Processos</a>
                      </li>
                      <li>
                        <a class="filter btn btn-sm btn-link" data-group="aut_web">Automação Web</a>
                      </li>
                    </ul>
                    <!-- End of Portfolio filter -->

                    <!-- Portfolio Grid -->
                    <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                      <!-- Portfolio Item 1 -->
                      <figure class="item" data-groups='["all", "backend"]'>
                        <a href="https://fusion-rptm.herokuapp.com/" target="_blank" rel="noreferrer" title="Site Fusion">
                          <img src="{% static 'images/portifolio2/sitefusion.png' %}" alt="">
                          <div>
                            <h5 class="name">Site Fusion</h5>
                            <small>Site</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 1 -->

                      <!-- Portfolio Item 2 -->
                      <figure class="item" data-groups='["all", "backend"]'>
                        <a href="https://curriculo-rptm.herokuapp.com/" target="_blank" rel="noreferrer" title="Site Curriculo" >
                          <img src="{% static 'images/portifolio2/sitecurriculo.png' %}" alt="">
                          <div>
                            <h5 class="name">Site Curriculo</h5>
                            <small>Site</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 2 -->

                      <!-- Portfolio Item 3 -->
                      <figure class="item" data-groups='["all","dados", "aut_processos"]'>
                        <a href="https://github.com/romuloptmota/Automacao_de_Processos_Indicadores" target="_blank" rel="noreferrer" title="Automação de Processos Indicadores">
                          <img src="{% static 'images/portifolio2/automacao_indicadores.png' %}" alt="">
                          <div>
                            <h5 class="name">Automação de Processos de Incicadores</h5>
                            <small>Codigo</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 3 -->

                      <!-- Portfolio Item 4 -->
                      <figure class="item" data-groups='["all", "dados"]'>
                        <a href="https://github.com/romuloptmota/Mini-Projeto-de-Analise-de-Dados" target="_blank" rel="noreferrer" title="Mini Projeto Analise de Dados">
                          <img src="{% static 'images/portifolio2/minianalisedados.png' %}" alt="">
                          <div>
                            <h5 class="name">Mini Projeto com Analise de Dados</h5>
                            <small>codigo</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 4 -->

                      <!-- Portfolio Item 5 -->
                      <figure class="item" data-groups='["all", "dados", "aut_web"]'>
                        <a href="https://github.com/romuloptmota/Automacao_Web-Busca_de_Precos" target="_blank" rel="noreferrer" title="Automação Web">
                          <img src="{% static 'images/portifolio2/automacaoweb.png' %}" alt="">
                          <div>
                            <h5 class="name">Automação Web</h5>
                            <small>Codigo</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                      </figure>
                      <!-- /Portfolio Item 5 -->

                    </div>
                    <!-- /Portfolio Grid -->

                  </div>
                  <!-- /Portfolio Content -->
                </div>
              </div>
            </section>
            <!-- /Portfolio Subpage -->

          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
    </div>
